{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Login {% endblock %}</h1>
    <div id="container"></div>

    <script src="{{url_for('static', filename='descope.js')}}"></script> 
    <script>
        const container = document.getElementById('container')

        if (!sessionToken) { 
            container.innerHTML = '<descope-wc project-id="' + projectId + '" flow-id="sign-up-or-in"></descope-wc>'
            const wcElement = document.getElementsByTagName('descope-wc')[0]


            const onSuccess = (e) => {
                sdk.refresh()
                fetch('/profile', { // call the api endpoint from the flask server
                    headers: {
                        Accept: 'application/json',
                        Authorization: 'Bearer ' + sessionToken,
                    }
                }).then(data => {
                    if (data.status === 401) {
                        window.location.href = '/login'
                    }
                    displayProfile = true
                    return data.json()
                }).then(jsonData => {
                    console.log(jsonData)
                }).catch((err) => {
                    console.log(err)
                    window.location.href = '/login'
                })
                window.location.href = "/profile"
            }


            const onError = (err) => console.log(err);

            wcElement.addEventListener('success', onSuccess)
            wcElement.addEventListener('error', onError)
        } else {
            // will check if client has valid refresh token in /profile and autoRefresh if possible 
            window.location.href = "/profile"
        }
    </script>
{% endblock %}