{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Profile {% endblock %}</h1>
    <h1 id="isLoggedIn"></h1>
    <h2> Welcome <span id="userName"></span></h2>
    <button class="link logout" onclick="logout()">Logout</button>

    <script src="{{url_for('static', filename='descope.js')}}"></script>
    <script>
        const user = document.getElementById('userName');

        fetch('/profile', {
            headers: {
                Accept: 'application/json',
                session: sessionToken,
            }
        }).then(data => {
            return data.json()
        }).then(jsonData => {
            if (userName) {
                user.innerHTML = jsonData.status + " 👋"
            } else {
                user.innerHTML = "❌"
            }
        });

        async function logout() {
            await sdk.logout()
            window.location.href = "/"
        }
    </script>
{% endblock %}


